body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
}
body {
  background-color: #f0f8ff;
  color: #212529;
  transition: all 0.3s linear 0s;
}
.main {
  margin: auto;
  width: 78rem;
}
.page {
  font-family: Hi Melody, cursive;
  font-family: Roboto Slab, serif;
  margin-left: 6rem;
  padding-bottom: 4rem;
  width: 85%;
}
h4 {
  cursor: pointer;
  font-size: 1.5rem;
  margin-bottom: 3rem;
  padding-left: 1.5rem;
  transition: 0.2s;
}
h4:hover {
  color: #919191;
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}
.s1,
.s2,
.s3,
.s4 {
  display: flex;
  flex-direction: row;
}
.service-info {
  padding-right: 6rem;
  width: 40%;
}
h2 {
  cursor: pointer;
  font-size: 300%;
  font-weight: 300;
  line-height: 1.2em;
  margin: 0;
  padding-right: 3rem;
  padding-top: 0.4rem;
}
h2:hover {
  box-shadow: 0 0.4px 0.1px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
}
h3 {
  font-size: 1.1rem;
  font-weight: 500;
  padding-bottom: 0.6rem;
  padding-left: 0;
  padding-top: 2.4rem;
}
.service-link {
  display: flex;
  flex-direction: row;
}
p {
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 800;
  margin-right: 2.2rem;
  transition: 0.1s;
}
p:hover {
  opacity: 0.6;
}
.pointer {
  cursor: pointer;
  padding-top: 0.3rem;
  transition: 0.1s;
}
.pointer:hover {
  opacity: 0.7;
}
.service-image {
  height: 20rem;
}
.service-image-1,
.service-image-ns {
  height: 20rem;
  width: 33.19125rem;
}
.image-holder-phone {
  display: none;
}
.outer-image-holder {
  background-color: initial;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
.image-holder-pc {
  height: 20rem;
  text-align: center;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: -webkit-transform 1.2s;
  transition: transform 1.2s;
  transition: transform 1.2s, -webkit-transform 1.2s;
}
.outer-image-holder:hover .image-holder-pc {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
@media screen and (min-width: 500px) {
  .image-holder-phone {
    display: none;
  }
  .image-holder-pc {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 85%;
  }
}
@media screen and (max-width: 435px) {
  .image-holder-phone {
    display: block;
    margin-top: 1rem;
  }
  .image-holder-pc {
    display: none;
  }
  html {
    font-size: 240%;
  }
  .service-info {
    width: 35.5rem;
  }
  h4 {
    margin-bottom: 0;
    margin-top: 3rem;
    padding-left: 0.2rem;
  }
  h3 {
    padding-top: 0.8rem;
  }
  h2 {
    padding-top: 2rem;
  }
  .service-image,
  .service-image-1,
  .service-image-ns {
    width: 95%;
  }
  .page {
    margin-left: 4.5rem;
  }
  p {
    color: #0051ff;
  }
}
@media screen and (max-width: 380px) {
  .image-holder-phone {
    display: block;
    margin-top: 1rem;
  }
  .image-holder-pc {
    display: none;
  }
  html {
    font-size: 210%;
  }
  .service-info {
    width: 35.5rem;
  }
  h4 {
    margin-bottom: 0;
    margin-top: 3rem;
    padding-left: 0.2rem;
  }
  h3 {
    padding-top: 0.8rem;
  }
  h2 {
    padding-top: 2rem;
  }
  .service-image,
  .service-image-1,
  .service-image-ns {
    width: 95%;
  }
  .page {
    margin-left: 4.5rem;
  }
  p {
    color: #0051ff;
  }
}
@media screen and (max-width: 340px) {
  .image-holder-phone {
    display: block;
    margin-top: 1rem;
  }
  .image-holder-pc {
    display: none;
  }
  html {
    font-size: 180%;
  }
  .service-info {
    width: 35.5rem;
  }
  h4 {
    margin-bottom: 0;
    margin-top: 3rem;
    padding-left: 0.2rem;
  }
  h3 {
    padding-top: 0.8rem;
  }
  h2 {
    padding-top: 2rem;
  }
  .service-image,
  .service-image-1,
  .service-image-ns {
    width: 95%;
  }
  .page {
    margin-left: 4rem;
  }
  p {
    color: #0051ff;
  }
}
.s1 {
  -webkit-animation: slide-up 0.5s ease-in;
  animation: slide-up 0.5s ease-in;
}
.s2 {
  -webkit-animation: slide-up 0.7s ease-in;
  animation: slide-up 0.7s ease-in;
}
.s3 {
  -webkit-animation: slide-up 1.2s ease-in;
  animation: slide-up 1.2s ease-in;
}
.s4 {
  -webkit-animation: slide-up 1.5s ease-in;
  animation: slide-up 1.5s ease-in;
}
@-webkit-keyframes slide-up {
  0% {
    opacity: 0.2;
    -webkit-transform: translateY(10rem);
    transform: translateY(10rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slide-up {
  0% {
    opacity: 0.2;
    -webkit-transform: translateY(10rem);
    transform: translateY(10rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.dark-mode {
  background-color: #212529;
  border: solid;
  border-color: #f0f8ff;
  border-width: 0.5px;
  color: #f0f8ff;
  cursor: pointer;
  font-size: 1.2rem;
  margin-top: 4rem;
  padding: 1rem 2rem;
  transition: 0.2s;
}
.dark-mode:hover {
  opacity: 0.8;
}
.dark {
  background-color: #212529;
  color: #f0f8ff;
}
